* {
  box-sizing:border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:black;  
  font-family: Arial, Helvetica, sans-serif;
}

.video-feed {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: hidden; /* Prevent scrolling outside of event handling */
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  background-color: black;
}

.video-card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-info {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}



.video-feed {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.video-container {
  height: 100vh;
  min-height:100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:12.5px 0;
}

.video-container.active {
  background-color: black; /* Optional styling for the active video */
}


.video-info-container {
  position: absolute;
  bottom: -.1px;
  left: 0;
  color: white;
  text-shadow: 0 0 BLACK;
  width: 100%;
  background: linear-gradient(1deg, #0000008c 10%, transparent 90%);
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}
.video-info-container h3, .video-info-container p{
  margin:0;

}
.video-likes-comments-container {
  position: absolute;
  right: 15px;
  bottom: 15vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.video-like-count, .video-comment-count {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  gap:10px;
  color: white;
  font-size: 40px;
}
.video-like-count p, .video-comment-count p {
  margin: 0px;
  font-size:18px;
}